* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #333;
}

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

form input {
  height: 30px;
}

form button {
  margin: 10px 0 0 0;
  background: greenyellow;
  color: red;
}

form label {
  margin: 6px 0 0 0;
  color: green;
}

.table {
  margin: 20px 0 0 0;
}

.table div {
  display: flex;
  justify-content: space-between;
}


